.App {
  display: flex;
  flex-wrap: wrap;
  max-width: 69rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media only screen and (min-width: 576px) {
  .App {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .App {
    max-width: 89rem;
  }
}

@media only screen and (min-width: 1200px) {
  .App {
    max-width: 124rem;
  }
}
